## World University Rankings

In [1]:
# %pip install pandas
# %pip install openpyxl

In [2]:
# import libraries

import pandas as pd
import zipfile

In [3]:
# downloading dataset with kaggle api

!kaggle datasets download -d raymondtoo/the-world-university-rankings-2016-2024

Dataset URL: https://www.kaggle.com/datasets/raymondtoo/the-world-university-rankings-2016-2024
License(s): MIT
the-world-university-rankings-2016-2024.zip: Skipping, found more recently modified local copy (use --force to force download)

In [4]:
# reading in and extracting dataset

file_name = "the-world-university-rankings-2016-2024.zip"
with zipfile.ZipFile(file_name, "r") as file:
    file.extractall()

In [5]:
# read in extracted dataset with pandas

rankings = pd.read_csv("THE World University Rankings 2016-2024.csv", encoding='latin1')

In [6]:
# view dataset

rankings.head()

,Rank,Name,Country,Student Population,Students to Staff Ratio,International Students,Female to Male Ratio,Overall Score,Teaching,Research Environment,Research Quality,Industry Impact,International Outlook,Year
0,1.0,California Institute of Technology,United States,2243,6.9,26%,33 : 67,95.2,95.6,97.6,99.8,97.8,64.0,2016
1,2.0,University of Oxford,United Kingdom,19920,11.6,34%,46:54:00,94.2,86.5,98.9,98.8,73.1,94.4,2016
2,3.0,Stanford University,United States,15596,7.8,22%,42:58:00,93.9,92.5,96.2,99.9,63.3,76.3,2016
3,4.0,University of Cambridge,United Kingdom,18810,11.8,34%,46:54:00,92.8,88.2,96.7,97.0,55.0,91.5,2016
4,5.0,Massachusetts Institute of Technology,United States,11074,9.0,33%,37 : 63,92.0,89.4,88.6,99.7,95.4,84.0,2016

In [7]:
# dataset info

rankings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12430 entries, 0 to 12429
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Rank                     12430 non-null  float64
 1   Name                     12430 non-null  object
 2   Country                  12430 non-null  object
 3   Student Population       12430 non-null  int64
 4   Students to Staff Ratio  12430 non-null  float64
 5   International Students   12430 non-null  object
 6   Female to Male Ratio     11839 non-null  object
 7   Overall Score            12430 non-null  float64
 8   Teaching                 12430 non-null  float64
 9   Research Environment     12430 non-null  float64
 10  Research Quality         12430 non-null  float64
 11  Industry Impact          12430 non-null  float64
 12  International Outlook    12430 non-null  float64
 13  Year                     12430 non-null  int64
dtypes: float64(8), int64(2), object(4)
memory usage: 1.3+ MB

In [8]:
#checking for any missing values

rankings.isnull().sum()

Rank                         0
Name                         0
Country                      0
Student Population           0
Students to Staff Ratio      0
International Students       0
Female to Male Ratio       591
Overall Score                0
Teaching                     0
Research Environment         0
Research Quality             0
Industry Impact              0
International Outlook        0
Year                         0
dtype: int64

In [9]:
# checking dataset shape

rankings.shape

(12430, 14)

In [10]:
rankings["Country"].unique()

array(['United States', 'United Kingdom', 'Switzerland', 'Canada',
       'Singapore', 'Sweden', 'Germany', 'Australia', 'Belgium', 'China',
       'Japan', 'Hong Kong', 'Netherlands', 'France', 'Finland',
       'Denmark', 'South Korea', 'Ireland', 'Italy', 'South Africa',
       'Norway', 'Austria', 'Spain', 'Russian Federation', 'Taiwan',
       'New Zealand', 'Israel', 'Luxembourg', 'Brazil', 'Iceland',
       'Turkey', 'Saudi Arabia', 'India', 'Czech Republic', 'Greece',
       'Estonia', 'Cyprus', 'Portugal', 'Uganda', 'Chile', 'Macao',
       'Mexico', 'Iran', 'Malaysia', 'Lebanon', 'Poland', 'Hungary',
       'Thailand', 'Pakistan', 'Romania', 'Slovenia',
       'United Arab Emirates', 'Colombia', 'Qatar', 'Lithuania', 'Oman',
       'Ghana', 'Slovakia', 'Latvia', 'Serbia', 'Jordan', 'Egypt',
       'Kenya', 'Indonesia', 'Ukraine', 'Bangladesh', 'Belarus',
       'Morocco', 'Nigeria', 'Argentina', 'Kuwait', 'Northern Cyprus',
       'Croatia', 'Philippines', 'Costa Rica', 'Venezuela', 'Bulgaria',
       'Algeria', 'Tunisia', 'Sri Lanka', 'Georgia', 'Peru', 'Jamaica',
       'Iraq', 'Kazakhstan', 'Nepal', 'Tanzania', 'Brunei Darussalam',
       'Malta', 'Vietnam', 'Puerto Rico', 'Cuba', 'Montenegro',
       'Botswana', 'Ethiopia', 'Palestine', 'Ecuador', 'Fiji',
       'Azerbaijan', 'Zambia', 'Namibia', 'Mozambique', 'Zimbabwe',
       'Mauritius', 'Armenia', 'North Macedonia',
       'Bosnia and Herzegovina', 'Kosovo'], dtype=object)

In [11]:
# Convert Rank column from float to int dtype

rankings["Rank"] = rankings["Rank"].astype(int)

In [12]:
# export dataset as an excel file for further visualizations in tableau

rankings.to_excel('world_university_rankings.xlsx', sheet_name='Data')